/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */

*,
*::before,
*::after
{
  box-sizing: border-box; 
  margin:0; 
    
  
}

#headerBox{
  height: 8em; 
  padding: 2em;
}

#headerBox h1 {
  font-size: 60px; 
}



body{
  font-family:sans-serif; 
  background:blue; 
  color: white; 
}

.hide
{
  display:none; 

}



.startcontrols 
{
  text-align: center; 
  
}
.startcontrols button
{
  margin-top: 10px; 
  border-radius:25px; 
  background: orange;
  border: orange solid; 
  width: 8em;  
  height: 3em;
}

.res-btn:hover, .startcontrols button:hover {
  cursor:pointer; 
  transition:.3s;
  transform: scaleX(1.1) scaleY(1.1);
  margin:0;
}


.slider
{
  
  display: flex; 
  flex-flow: row;
  flex-wrap: wrap;
  padding: 1em; 
  position: relative; 
  top: 300px; 
  border: none; 
  background:blue;
 
  
}

.promptcontainer
{
  display: flex; 
  flex-flow: row;
  flex-wrap: wrap;
  list-style: none; 
  height: 30vh; 
  width: 30vw;
  padding: 2em; 
  
}

.promptcontainer h3 {
  width:100%; 

}
.btn-grid
{
  display: flex; 
  flex-flow: wrap; 
  width: 600px;
  
  
}

.btn-grid input
{
  width: 50px; 
  height: 50px; 
  position: relative; 
  display:none;
  
   
}
.checkmark 
{
  border-radius:25px; 
  background: #5de359;
  border: none ; 
  width: 6rem;
  height: 3rem; 
  text-align: center;
  margin:0 auto; 
  transition:.3s; 
  box-sizing: border-box;
  

}

.checkmark span
{
  position: relative;
		top: 30%;
}

.checkmark:hover, input:checked
{
  cursor: pointer;
  background-color: #83f57a;
  transition:.3s;
  transform: scaleX(1.1) scaleY(1.1);
  margin:0;

}

.res-btn{
  border-radius:25px; 
  background: orange;
  border: none ; 
  width: 8rem;
  height: 3rem; 
  text-align: center;
  position: relative;
  left: 40%;
  margin-top: 1em;  
  
}

.res-btn:hover{
  cursor:pointer; 
  transition:.3s;
  transform: scaleX(1.1) scaleY(1.1);
  margin:0;
}

/* ===== typography=====  */

header a
{
  color: white; 
  text-decoration:none; 
  font-weight:lighter; 
}

#fawn 
{
  font-family:serif;
  
}

#overLine
{
  width:8em;

}

header p 
{ 
  margin: 2em; 
}

 button a{
  text-decoration: none; 
  color: black; 
}



